* {
    margin: 0; 
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: #FBFBFB;
}
nav {
    background-color:#FBFBFB;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}  
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.container {
    /* 1400-2*150+2*20=1440-300+40=1180 */
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.light  {
    transition: 0.5s;
    background-color: rgb(22, 21, 21);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
   
.light * {
    color: white !important;
}
.light #navbar {
    transition: 0.5s;
    background-color: rgb(22, 21, 21);
}
.light #navbar-responsive {
    transition: 0.5s;
    background-color: rgb(22, 21, 21);
}


.light .result {
    transition: 0.5s;
    background-color:  rgb(56, 55, 55);
}
.light .plan-card-mini {
    transition: 0.5s;
    background-color:  rgb(56, 55, 55) !important;
}
.light .item {
    transition: 0.5s;
    background-color:  rgb(56, 55, 55) !important;
}
.light .subcribe {
    transition: 0.5s;
    background-color: rgb(56, 55, 55);
}
.light #footer {
    transition: 0.5s;
    background-color: rgb(22, 21, 21);
}